@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --container: 1100px; }
.container { max-width: var(--container); }
.line-clamp-2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; }
